.block {
  padding: 60px 0;
  background-color: $color-white;


  &--bg {

    &-gray {
      background-color: rgba(69, 90, 100, 0.06);
    }

    &-img {
      background-image: url($siteUrl + '/image/home-parallax.jpg');
      height: auto;
    }
  }

}