.news {

  padding: 0 15px;

  &__link {
    display: inline-block;
    color: #044A67;
    font-size: 20px;
    line-height: 28px;
    font-family: $font-bold;
    margin-bottom: 18px;
    margin-top: 5px;

    &:hover {
      color: #2574a9;

    }
  }



  &__lead {
    font-size: 14px;
    margin-bottom: 14px;
    color: #555555;
    font-weight: 400;
    overflow: hidden;
    height: 66px;

  }

  &__author {
    color: #1e8bc3;
    font-size: 12px;

    & > i {
      margin-right: 6px;
    }

    &  a {
      font-family: $font-bold;
    }
  }
}

.news-blog {

  margin-bottom: 38px;


  & .pic{

    &__img {
      height: 180px;
    }

  }

  & .news__link {
    overflow: hidden;
    height: 60px;
    margin-bottom: 0;
  }

}